<div style="text-align: center;">
  <h1>About Alpha Blog</h1>
      
  <div>
    <%= image_tag 'about.jpg' %>
  </div>
  <div>
    <p>This is the About page of Alpha Blog</p>
  </div>

  <button><%= link_to 'HomePage', root_path %></button>
</div>