<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">The Ruby on Rails Developer</a>
      a.k.a <a href="#">Rojesh Tamrakar</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>